{% extends "base.html.twig" %}

{% block title %}La liste des biens{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Liste des biens</h1>
    </div>


{% endblock %}