{% extends "base.html.twig" %}

{% block title %}Gérer les biens!{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center">Editer le bien</h2>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <a href="{{ path('admin.property.index') }}">Retour à la liste des biens</a>
        {{ include('admin/properties/_form_html.twig', {form: form, button: 'Editer'}) }}
    </div>

{% endblock %}